#Port
PORT=5000

# Database
DATABASE_URL=database_connection_string_here

# Authentication (Google OAuth)
GOOGLE_CLIENT_ID="google_client_id_here.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="google_client_secret_here"
GOOGLE_REDIRECT_URI="redirect_url_here"

# Session
SESSION_SECRET="randomly_generated_session_secret_here"

# App URL
APP_URL="app_url_here"

# API URL
API_URL="your_api_url_here"

# Next.js
NEXT_PUBLIC_API_URL="public_api_url_here"
